* {
margin: 0;
padding: 0;
}

#main {
	background-color: #ebeced;
}
#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-div {
	background-color: white;
	margin: 10px;
}
