* {
margin: 0;
padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#main {
	background-color: #ebeced;
	margin: 30px 10px;
}

#title {
	text-align: center;
	margin: 20px 0;
	padding: 30px 0 0 0;
	font-weight: 600;

}

#tagline {
	text-align: center;
	margin: 0 0 20px 0;
	font-weight: 600;
	font-size: 1.3em;
}

#img-div {
	background-color: white;
	margin: 10px;
	padding: 5px 0 0 0;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

#img-caption {
	text-align: center;
	margin: 10px 0 0 0;
	padding: 0 0 10px 0;
}

#tribute-info {
	width: 600px;
	margin: auto;
	padding: 30px 0 0 0;
}

#tribute-info h3 {
	margin-left: -10px;
	margin-bottom: 15px;
	font-weight: 600;
}

#tribute-info li {
	margin: 0 0 10px 0;
}
